@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --organgeColor : #F49920;
    --grayColor : #3F3F3F;
    --grayLight: rgba(223, 223, 223, 1);
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

.text-orangeColor {
  color: var(--organgeColor)
}

.bg-orangeColor {
  background-color: var(--organgeColor);
}

.bg-grayLight {
  background-color: var(--grayLight);
}